<a href="https://colab.research.google.com/github/Venkatakousik/FML/blob/main/Evaluation_Measures_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install -U scikit-learn

In [ ]:
import pandas as pd
df =  pd.read_csv('gdrive/MyDrive/Datasets/Iris.csv')
print(df.to_string())

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')
import pandas as pd
df =  pd.read_csv('gdrive/MyDrive/Datasets/Iris.csv')
print(df.to_string())

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
print(df.head(5))

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
#creating set x and y
x = df.drop(labels='Species', axis=1, inplace=False)
y = df['Species']
print(x)
print(y)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

[150 rows x 5 columns]
0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [ ]:
#shuffle retrives in a fixed order
#random_state althouosh the data is shuffled but 
#every state always fixed to a particular order
#state 42 is widley used
x_train,x_test,y_train,y_test = train_test_split(x,y,shuffle=True,random_state=42)
print(x_train)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
4      5            5.0           3.6            1.4           0.2
32    33            5.2           4.1            1.5           0.1
142  143            5.8           2.7            5.1           1.9
85    86            6.0           3.4            4.5           1.6
86    87            6.7           3.1            4.7           1.5
..   ...            ...           ...            ...           ...
71    72            6.1           2.8            4.0           1.3
106  107            4.9           2.5            4.5           1.7
14    15            5.8           4.0            1.2           0.2
92    93            5.8           2.6            4.0           1.2
102  103            7.1           3.0            5.9           2.1

[112 rows x 5 columns]

In [ ]:
y_test

73     Iris-versicolor
18         Iris-setosa
118     Iris-virginica
78     Iris-versicolor
76     Iris-versicolor
31         Iris-setosa
64     Iris-versicolor
141     Iris-virginica
68     Iris-versicolor
82     Iris-versicolor
110     Iris-virginica
12         Iris-setosa
36         Iris-setosa
9          Iris-setosa
19         Iris-setosa
56     Iris-versicolor
104     Iris-virginica
69     Iris-versicolor
55     Iris-versicolor
132     Iris-virginica
29         Iris-setosa
127     Iris-virginica
26         Iris-setosa
128     Iris-virginica
131     Iris-virginica
145     Iris-virginica
108     Iris-virginica
143     Iris-virginica
45         Iris-setosa
30         Iris-setosa
22         Iris-setosa
15         Iris-setosa
65     Iris-versicolor
11         Iris-setosa
42         Iris-setosa
146     Iris-virginica
51     Iris-versicolor
27         Iris-setosa
Name: Species, dtype: object

In [ ]:
x = [1,3,5,7,9,11,13,15,17,19]
y = [2,4,6,8,10,12,14,16,18,20]
ycap = [1,3,4,6,9,11,14,19,15,25] 
x_train,x_test,y_train,y_test = train_test_split(x,y)

In [ ]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y,ycap,)
print("Mean Absolute Error : ",mae)

Mean Absolute Error :  1.9

In [ ]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y,ycap);
print("Mean Squared Error : ",mse)

Mean Squared Error :  5.5

In [ ]:
x_train
# x_test

[7, 9, 19, 5, 11, 1, 3]

In [ ]:
from sklearn.metrics import r2_score
# import numpy as np
# mrse = np.sqrt(mse)
score = r2_score(y,ycap)
print("R2 score: ",score)

R2 score:  0.8333333333333334